.jobFilter {
  margin: 0 0.5rem 1rem 0.5rem; /* 0px 8px 16px 8px */
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem; /* 32px */
  padding-left: 0.5rem; /* 8px */
  border-radius: 0.25rem; /* 4px */
  background-color: var(--color-light-grayish-cyan-filter-tablets);
}

.jobFilter__label {
  margin-top: 0.25rem; /* 4px */
  padding-right: 0.5rem; /* 8px */
  font-size: 1rem; /* 16px */
  font-weight: 600;
  color: var(--color-desaturated-dark-cyan);
}

.jobFilter__button {
  --filter-shadow: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem; /* 32px */
  height: 100%;
  border: none;
  border-top-right-radius: 0.25rem; /* 4px */
  border-bottom-right-radius: 0.25rem; /* 4px */
  background-color: var(--color-desaturated-dark-cyan);
  color: var(--color-white);
  box-shadow: 0 0 0 var(--filter-shadow) hsl(180 14% 20% / 25%);
  cursor: pointer;
  outline-offset: 0.25rem; /* 4px */
}

.jobFilter__button:not(:disabled):hover {
  background-color: var(--color-very-dark-grayish-cyan);
}

.jobFilter__button:not(:disabled, :active):hover {
  --filter-shadow: 0.25rem; /* 4px */
}

.jobFilter__buttonIcon {
  width: 0.875rem; /* 14px */
  height: 0.875rem; /* 14px */
}

@media (prefers-reduced-motion: no-preference) {
  .jobFilter__button {
    transition:
      background-color 150ms ease,
      box-shadow 150ms ease;
  }
}