.page {
  background-image:
    url("/src/images/bg-header-mobile.svg"),
    linear-gradient(to bottom, var(--color-desaturated-dark-cyan) 15.6rem, var(--color-light-grayish-cyan-bg) 15.6rem);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 15.6rem, cover;
}

.page__icons {
  display: none;
}

@media screen and (min-width: 1158px) {
  .page {
    background-image:
      url("/src/images/bg-header-desktop.svg"),
      linear-gradient(to bottom, var(--color-desaturated-dark-cyan) 15.6rem, var(--color-light-grayish-cyan-bg) 15.6rem);
  }
}