.jobTag {
  margin-left: 0.5rem; /* 8px */
  margin-right: 0.5rem; /* 8px */
  margin-bottom: 1rem; /* 16px */
}

.jobTag__button {
  --tag-shadow: 0;

  height: 2rem; /* 32px */
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  padding-top: 0.25rem; /* 4px */
  border: none;
  border-radius: 0.25rem; /* 4px */
  background-color: var(--color-light-grayish-cyan-filter-tablets);
  font-size: 1rem; /* 16px */
  font-weight: 600;
  color: var(--color-desaturated-dark-cyan);
  box-shadow: 0 0 0 var(--tag-shadow) hsl(180 29% 50% / 25%);
}

.jobTag__button:not(:disabled) {
  cursor: pointer;
}

.jobTag__button:disabled {
  opacity: 0.5;
  cursor: default;
}

.jobTag__button:not(:disabled):hover {
  background-color: var(--color-desaturated-dark-cyan);
  color: var(--color-white);
}

.jobTag__button:not(:disabled, :active):hover {
  --tag-shadow: 0.25rem; /* 4px */
}

@media (prefers-reduced-motion: no-preference) {
  .jobTag__button {
    transition:
      background-color 150ms ease,
      color 150ms ease,
      opacity 150ms ease,
      box-shadow 150ms ease;
  }
}