.jobBadge {
  margin-left: 0.25rem; /* 4px */
  margin-right: 0.25rem; /* 4px */
  margin-bottom: 0.5rem; /* 8px */
}

.jobBadge__button {
  --badge-shadow: 0;

  height: 1.5rem; /* 24px */
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  padding-top: 0.125rem; /* 2px */
  border: none;
  border-radius: 9999px;
  font-size: 0.875rem; /* 14px */
  font-weight: 600;
  color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
}

.jobBadge__button--black {
  background-color: var(--color-very-dark-grayish-cyan);
  box-shadow: 0 0 0 var(--badge-shadow) hsl(180 14% 20% / 25%);
}

.jobBadge__button--green {
  background-color: var(--color-desaturated-dark-cyan);
  box-shadow: 0 0 0 var(--badge-shadow) hsl(180 29% 50% / 25%);
}

.jobBadge__button:not(:disabled, :active):hover {
  --badge-shadow: 0.25rem; /* 4px */
}

@media (prefers-reduced-motion: no-preference) {
  .jobBadge__button {
    transition: box-shadow 150ms ease;
  }
}